body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'Arial'; 

}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
         
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #7c3634;  
    padding: 30px;  
}  
label{  
    color: #522b19;  
    font-size: 22px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    margin: 5px;
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  

.login{
    text-align: center;
}


span{  
    color: rgb(17, 17, 17);  
    font-size: 17px;  
}  
a{  
    float: right;  
}
button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}
#nname{
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
}